.lesson_box{
    position: relative;
    font-family: 'Lato', sans-serif;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	color: white;
	width: 200px;
	height: 200px;
	background-color:#3498DB;
	margin:0px;
	float:left;
	margin-right:10px;
	margin-top:10px;
}


.lesson_box:hover{
	transition: 0.2s;
 	border-bottom:5px solid rgb(44, 62, 80);
}

.lesson_box:hover .lesson_subject {
 	transition: 0.2s;
 	opacity: 1;
}



.lesson_day{
	 margin:0px;
    text-align: center;
    font-size: 60px;
    margin-top:30px;
  
}

.lesson_month{
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 10px;
    font-size: 28px;
}

.lesson_title{
    position: absolute;
    font-size: 13px;
    margin: 0px 0px 0px 5px;
    bottom:5px;
}

.lesson_subject{
	background: rgb(44, 62, 80);
	opacity: .5;
	padding:5px;
	position: absolute;
	top:0px;
	margin:0px;
}

.lesson_class_name{
	/*color:#032859;*/
	font-size:12px;
}

.lesson_container{
	width: 840px;
  	margin:0px auto;
  	margin-bottom: 30px;
}

@media screen and (max-width: 960px) {
    #arrow-left {
        display: none;
    }
}


#arrow-left{
	    position: absolute;
    -ms-transform: rotate(39deg);
    -webkit-transform: rotate(39deg);
    transform: rotate(39deg);
    top: -88px;
    width: 160px;
    left: -176px;
    z-index: 100;

}



#empty-list{
	margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

#empty-list li{
	list-style-type: square;
	 text-indent: 5px;
	 color:#1ABC9C;
	 font-size: 20px;
	 padding-bottom: 7px;
}

#empty-list li span{
	color:#34495E;
}

.special-char{
	color:#1ABC9C !important;
	text-transform: capitalize;
	border-bottom: 1px #34495E dotted;

}