header, section, aside, nav {
    display: block;
}
body {
    font-family: 'Lato', Arial, sans-serif;
    background-color: white;
}

.wrapper {
	position: absolute;
    width: 1040px;
    top: 0px;
    left: 240px;
    background-color: white;
}

aside {
	position: fixed;
    width: 216px;
    padding-left: 12px;
    padding-right: 12px;
    height: 100%;
    top: 0px;
    left: 0px;
	background-color: #34495E;
	color: white;
}

form li {
    list-style: none;
    margin-bottom: 5px;
}

form ul li select {
    width: 164px;
}

.input-field {
	width: 212px;
	margin-bottom: 12px;
}


