.lesson-header {
	position: fixed;
	background-color: #2C3E50;
	top: 0px;
	left: 300px;
	height: 116px;
	height: 58px;
    width: -moz-calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px);
	color: white;
}

.lesson-header > h2 {
	position: absolute;
	margin-top: 12px;
	margin-left: 24px;
    width: -moz-calc(100% - 236px);
    width: -webkit-calc(100% - 236px);
    width: calc(100% - 236px);
}

.add-note {
}

.add-note > a {
	font-weight: bold;
	position: fixed;
	background-color: #16A085;
	color: white !important;
	z-index: 999;
	top: 0px;
	right: 0px;
	width: 200px;
	height: 42px;
	text-align: center;
	color: white;
	padding-top: 16px;
	font-size: 12pt;
}

.add-note > a:hover {
	background-color: #1ABC9C;
}

input[type=radio] {
	width: 24px;
}

