html {
	background-color: #ECF0F1;
}

.lesson-header {
	position: fixed;
	background-color: #2C3E50;
	top: 0px;
	left: 300px;
	height: 116px;
	height: 58px;
    width: -moz-calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px);
	color: white;
	z-index: 50;
}

.lesson-header > h2 {
	position: absolute;
	margin-top: 12px;
	margin-left: 24px;
    width: -moz-calc(100% - 236px);
    width: -webkit-calc(100% - 236px);
    width: calc(100% - 236px);
}

.add-note {
}

.add-note > a {
	font-weight: bold;
	position: fixed;
	background-color: #16A085;
	color: white !important;
	z-index: 999;
	top: 0px;
	right: 0px;
	width: 200px;
	height: 42px;
	text-align: center;
	color: white;
	padding-top: 16px;
	font-size: 12pt;
}

.add-note > a:hover {
	background-color: #1ABC9C;
}

input[type=radio] {
	width: 24px;
	margin-bottom: 24px;
}

.input-addnew {
	width: 24px;
	margin-top: 24px;
}


.newbullet {
    width: -moz-calc(100% - 24px);
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
}


.form-wrap {
	background-color: red;
	height: 100%;
}

.add-1 {
	background: #BDC3C7;
	position: absolute;
	top: 58px;
	left: 0px;
	width: 304px;
	padding-left: 48px;
	padding-right: 48px;
    height: -moz-calc(100vh - 116px);
    height: -webkit-calc(100vh - 116px);
    height: calc(100vh - 116px);
}


.add-2 {
	background-color: #ECF0F1;
	position: absolute;
	top: 58px;
	right: 0px;
	padding-left: 48px;
    height: -moz-calc(100vh - 116px);
    height: -webkit-calc(100vh - 116px);
    height: calc(100vh - 116px);
    width: -moz-calc(100% - 448px);
    width: -webkit-calc(100% - 448px);
    width: calc(100% - 448px);
}

.add-3 {
	position: fixed;
	background-color: #2C3E50;
	bottom: 0px;
	left: 300px;
	height: 116px;
	height: 58px;
    width: -moz-calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px);
	color: white;
	z-index: 50;
}

.add-3 > input {
	position: absolute;
	margin-left: -118px;
	left: 400px;
}



.bg1 {
	background: #BDC3C7;
	position: fixed;
	top: 58px;
	left: 0px;
	width: 700px;
    height: 100%
}

.bullet-li {
    width: -moz-calc(100% - 72px);
    width: -webkit-calc(100% - 72px);
    width: calc(100% - 72px);
	background-color: ;
	padding: 1px 0px 1px 24px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #BDC3C7;
	margin-top: 96px;
	margin-bottom: 24px;
}

.paddedicon {
	margin-right: 24px;
}

.paddedicon2 {
	margin-right: 12px;
}
















