html {
    font-family: 'Lato', Arial, sans-serif;
}
header, section, aside, nav {
    display: block;
}
body {
    font-family: 'Lato', Arial, sans-serif;
    background-color: white;
}

a:link {
	color: #1ABC9C;
	text-decoration: none;
}
a:hover {
	color: #16A085;
	text-decoration: underline;
}
a:active {
    color: #16A085;
    text-decoration: underline;
}
a:visited {
    color: #1ABC9C;
    text-decoration: none;
}



#aside-overflow {
	margin-top: 24px;
    height: -moz-calc(100% - 234px);
    height: -webkit-calc(100% - 234px);
    height: calc(100% - 234px);
	overflow-x: hidden;
	overflow-y: scroll;
}


/* Scrollbar */ 

::-webkit-scrollbar{width: 12px;}

::-webkit-scrollbar-thumb{background-color:rgb(44, 62, 80); border-radius: 6px;}
::-webkit-scrollbar-thumb:hover{background-color:rgb(22, 160, 133);}

::-webkit-scrollbar-track{background-color:rgb(52, 73, 94,0);}


/* End Scrollbar */


.wrapper {
	position: absolute;
    top: 0px;
    left: 300px;
    height: 100%;
    width: -moz-calc(100% - 336px);
    width: -webkit-calc(100% - 336px);
    width: calc(100% - 336px);
    color: #34495E;
    padding-left: 24px;
    padding-right: 12px;
    margin-bottom:50px;
}


#index-info {
	width: 600px;
	margin: 0 auto;
}

h1 {
	font-size: 60pt;
}

aside {
	z-index: 100;
	position: fixed;
    width: 276px;
    padding-left: 12px;
    padding-right: 12px;
    height: 100%;
    top: 0px;
    left: 0px;
	background-color: #34495E;
	color: white;
}

footer {
	position: absolute;
	text-align: center;
	bottom: 0px;
	left: 0px;
	width: 100%;
	color: #7F8C8D;
}

#byline {
	font-size: 10pt;
}




.avatar-wrap {
	margin-top: 24px;
	margin-left: -12px;
	width: 288px;;
	height: 90px;
	padding-left: 12px;
	border-bottom: 3px solid #2C3E50;
}
#avatar-pic {
	position: absolute;
	height: 60px;
	width: 60px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
#avatar-txt {
	display: block;
	position: absolute;
	font-size: 12pt;
	line-height: 20px;
	margin-top: 0px;
	left: 90px;
    width: -moz-calc(100% - 96px);
    width: -webkit-calc(100% - 96px);
    width: calc(100% - 96px);
}
#avatar-txt p {
	margin-top: -6px;
}
.cut-text {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.logout {
}


.sidebar-wrap {
}


.sidebar-link {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px solid #7F8C8D;
}





.login-wrap {
	margin-top: 48px;
}

.register-wrap {
	margin-top: 96px;
}

input, select {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: none;
	padding: 8px 12px;
	width: 212px;
	text-align: center;
}

select {
	margin-top: 12px;
}

input[type=submit]  {
	margin-top: 12px;
	background-color: #1ABC9C;
	color: white;
}

.input-field {
	width: 190px;
	margin-top: 12px;
    color: #34495E;
    border-radius: 6px;
    box-shadow: none;
    -webkit-transition: color .25s linear,background-color .25s linear;
    transition: color .25s linear,background-color .25s linear;
}

.error-message {
	font-size: 12px;
	color: #E74C3C;
}

.input-field:focus {
    outline: none;
    background-color: #BDC3C7;
    color: #2C3E50;
}

input[type=submit]:focus {
	outline: none;
    background-color: #16A085;
    color: white;
}

input[type=text] {
	border: 2px solid #BDC3C7;
}


input[type=text]:focus {
    outline: none;
	border: 2px solid #1ABC9C;
}



input[type=submit]:hover {
	outline: none;
    background-color: #16A085;
    color: white;
}


